.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  justify-content: center;
  min-height: 10vh;
}

.span-two {
  grid-column: 1 / 3;
}

.cal-button {
  font-size: 2rem;
  width: 6rem;
  height: 4rem;
}
